@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
.theme_color1 {
  background-color: #3fb195;
}

.theme_color2 {
  background-color: #c499ff;
}

.theme_color3 {
  background-color: #ff9999;
}

.theme_color4 {
  background-color: #64c5e3;
}

.theme_color5 {
  background-color: #81a4ff;
}

.theme_color6 {
  background-color: #fd975e;
}

.theme_color7 {
  background-color: #c17b53;
}

.theme_color8 {
  background-color: #8fca6b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
}

body {
  background: #fafafa;
}

.box {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .sidebar {
  width: 354px;
  -webkit-box-shadow: 0px 14px 24px 0px #0000000a;
          box-shadow: 0px 14px 24px 0px #0000000a;
  padding: 40px 24px;
}

.box .sidebar .filter {
  border-bottom: 1px solid #00000014;
}

.box .sidebar .filter a {
  margin-bottom: 24px;
  display: inline-block;
}

.box .sidebar .filter a h1 {
  background-image: url(../img/LOGO.svg);
  width: 116.5px;
  height: 47px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.box .sidebar .filter .local {
  position: relative;
}

.box .sidebar .filter .local .search {
  cursor: pointer;
}

.box .sidebar .filter .local .region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 14px 24px 0px #0000000a;
          box-shadow: 0px 14px 24px 0px #0000000a;
  padding-bottom: 12px;
  position: absolute;
  width: 306px;
  background-color: #ffffff;
  border-radius: 8px;
  top: 43px;
}

.box .sidebar .filter .local .region span {
  padding: 4px 16px;
  margin: 12px 14px 0px 14px;
  border-radius: 8px;
  border: 1px solid #3fb195;
}

.box .sidebar .filter .local .region span:hover {
  background-color: #3fb195;
  color: #fff;
  cursor: pointer;
}

.box .sidebar .filter .search {
  margin-bottom: 24px;
  width: 306px;
  height: 43px;
  background-color: #f4f4f4;
  border: 1px solid #00000014;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 14px;
}

.box .sidebar .filter .search input {
  background: #f4f4f4;
  border: 0px;
  width: 100%;
  outline: none;
}

.box .sidebar .theme {
  margin: 24px 0px;
}

.box .sidebar .theme h6 {
  font-weight: bold;
  margin-bottom: 24px;
}

.box .sidebar .theme ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.box .sidebar .theme ul input {
  display: none;
}

.box .sidebar .theme ul input:checked + label {
  border: 1px solid #3fb195;
}

.box .sidebar .theme ul label {
  width: 50%;
  margin-bottom: 28px;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
  border: 1px solid #fafafa;
}

.box .sidebar .theme ul label:hover {
  border: 1px solid #3fb195;
}

.box .sidebar .theme ul label div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .sidebar .theme ul label div i {
  color: #fff;
  font-size: 46px;
}

.box .main {
  width: 100%;
  padding: 24px;
}

.box .main .banner {
  height: 335px;
  padding-left: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 14px 24px 0px #0000000a;
          box-shadow: 0px 14px 24px 0px #0000000a;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .main .banner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .main .banner div span {
  display: block;
  font-size: 58px;
  font-weight: bold;
}

.box .main .banner img {
  max-width: 100%;
}

.box .main .theme_box {
  margin-top: 40px;
}

.box .main .theme_box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .main .theme_box .title h6 {
  font-size: 24px;
  font-weight: bold;
}

.box .main .theme_box .title span {
  color: #3fb195;
  font-size: 16px;
}
/*# sourceMappingURL=taiwan.css.map */