$main_primary: #3fb195;
$text_primary: #222222;
$bg-white: #ffffff;
$bg-gray: #fafafa;
$black_light8: #00000014;
$bg-search: #f4f4f4;

.theme_color1 {
    background-color: $main_primary;
}
.theme_color2 {
    background-color: #c499ff;
}
.theme_color3 {
    background-color: #ff9999;
}
.theme_color4 {
    background-color: #64c5e3;
}
.theme_color5 {
    background-color: #81a4ff;
}
.theme_color6 {
    background-color: #fd975e;
}
.theme_color7 {
    background-color: #c17b53;
}
.theme_color8 {
    background-color: #8fca6b;
}

// div {
//     border: 1px solid red;
// }

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
}
body {
    background: $bg-gray;
}
.box {
    max-width: 1470px;
    margin: 0 auto;
    display: flex;

    .sidebar {
        width: 354px;
        box-shadow: 0px 14px 24px 0px #0000000a;
        padding: 40px 24px;

        .filter {
            border-bottom: 1px solid $black_light8;
            a {
                margin-bottom: 24px;
                display: inline-block;
                h1 {
                    background-image: url(../img/LOGO.svg);
                    width: 116.5px;
                    height: 47px;
                    text-indent: 101%;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .local {
                position: relative;

                .search {
                    cursor: pointer;
                }
                .region {
                    display: flex;
                    flex-wrap: wrap;
                    box-shadow: 0px 14px 24px 0px #0000000a;
                    padding-bottom: 12px;
                    position: absolute;
                    width: 306px;
                    background-color: $bg-white;
                    border-radius: 8px;
                    top: 43px;

                    span {
                        padding: 4px 16px;
                        margin: 12px 14px 0px 14px;
                        border-radius: 8px;
                        border: 1px solid $main_primary;
                        &:hover {
                            background-color: $main_primary;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }

            .search {
                margin-bottom: 24px;
                width: 306px;
                height: 43px;
                background-color: $bg-search;
                border: 1px solid $black_light8;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 14px;
                input {
                    background: $bg-search;
                    border: 0px;
                    width: 100%;
                    outline: none;
                }
            }
        }

        .theme {
            margin: 24px 0px;
            h6 {
                font-weight: bold;
                margin-bottom: 24px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;

                input {
                    display: none;
                    &:checked + label {
                        border: 1px solid $main_primary;
                    }
                }

                label {
                    width: 50%;
                    margin-bottom: 28px;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px 0px;
                    border: 1px solid $bg-gray;
                    &:hover {
                        border: 1px solid $main_primary;
                    }

                    div {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            color: #fff;
                            font-size: 46px;
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 100%;
        padding: 24px;
        .banner {
            height: 335px;
            padding-left: 40px;
            background-color: #fff;
            box-shadow: 0px 14px 24px 0px #0000000a;
            border-radius: 16px;
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    display: block;
                    font-size: 58px;
                    font-weight: bold;
                }
            }

            img {
                max-width: 100%;
            }
        }

        .theme_box {
            margin-top: 40px;
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h5 {
                    font-size: 24px;
                    font-weight: bold;
                }
                span {
                    color: $main_primary;
                    font-size: 16px;
                }
            }

            .card_box {
                display: flex;
                flex-wrap: wrap;
                .local_card {
                    width: 330px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color: $bg-white;
                    box-shadow: 0px 14px 24px 0px #0000000a;
                    border-radius: 16px;
                    overflow: hidden;
                    margin: 8px 12px;
                    h6 {
                        font-size: 18px;
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis; //文字溢出時「...」顯示
                        white-space: nowrap; //強制不換行
                    }

                    .info {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 14px;
                        color: #00000099;
                        div {
                            display: flex;
                            align-items: center;
                            span {
                                margin: 0px 16px 0px 4px;
                            }
                        }
                    }
                    .share_link {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 0px;
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        right: 12px;
                        top: 12px;
                        background-color: #3fb19533;
                        border-radius: 12px;
                    }

                    //調整位置用
                    .mgse {
                        margin: 8px 16px;
                    }
                }
            }
        }
    }
}
